In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser

In [2]:
 # https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

### NASA Mars News

In [4]:
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

In [5]:
# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = bs(html, 'lxml')

In [6]:
titles = soup.find_all('div', class_="content_title")
news_title = titles[1].text
news_title.replace("\n", "")

"Meet the People Behind NASA's Perseverance Rover"

In [7]:
paragraphs = soup.find_all('div', class_="article_teaser_body")
news_article = paragraphs[0].text
news_article

"These are the scientists and engineers who built NASA's next Mars rover and who will guide it to a safe landing in Jezero Crater. "

### JPL Mars Space Images - Featured Image

In [8]:
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)

In [9]:
# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

In [10]:
featured_image = soup.find('article', class_="carousel_item")
featured_image_link = featured_image.find('a', class_="button")['data-fancybox-href']
featured_image_url = f'http://www.jpl.nasa.gov{featured_image_link}'
featured_image_url

'http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18328_ip.jpg'

### Mars Weather

In [11]:
mars_weather_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(mars_weather_url)

In [12]:
# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

In [15]:
tweets = browser.find_by_tag('span')

weather = []
for tweet in tweets:
    weather.append(tweet.value)
weather

['',
 '',
 '',
 'Log in',
 'Log in',
 'Sign up',
 'Sign up',
 '',
 '',
 'Follow',
 'Follow',
 'Mars Weather',
 'Mars Weather',
 '',
 '@MarsWxReport',
 'Updates as avail from the REMS weather instrument aboard ',
 '@MarsCuriosity',
 '.  Data credit: Centro deAstrobiologia, FMI, JPL/NASA, Not an official acct.',
 'Gale Crater, Mars',
 'Gale Crater, Mars',
 'Gale Crater, Mars',
 'Joined August 2012',
 '51',
 '51',
 'Following',
 'Following',
 '57.2K',
 '57.2K',
 'Followers',
 'Followers',
 '',
 '',
 '',
 '',
 'Tweets',
 'Tweets & replies',
 'Media',
 'Likes',
 'Mars Weather',
 'Mars Weather',
 '@MarsWxReport',
 '·',
 'InSight sol 506 (2020-04-29) low -93.5ºC (-136.2ºF) high -3.7ºC (25.3ºF)\nwinds from the WNW at 4.5 m/s (10.1 mph) gusting to 15.6 m/s (34.8 mph)\npressure at 6.80 hPa',
 '4',
 '4',
 '20',
 '20',
 'Mars Weather',
 'Mars Weather',
 '@MarsWxReport',
 '·',
 'InSight sol 505 (2020-04-28) low -93.8ºC (-136.8ºF) high -6.6ºC (20.1ºF)\nwinds from the WNW at 4.2 m/s (9.4 mph) gusting to 13.2 m/s (29.6 mph)\npressure at 6.70 hPa',
 '1',
 '1',
 '8',
 '8',
 'Mars Weather Retweeted',
 'Mars Weather',
 'Mars Weather',
 'Doug Ellison',
 'Doug Ellison',
 '@doug_ellison',
 '·',
 'Lovely view of Gale Crater right in the middle of this. ',
 'Quote Tweet',
 'landru79',
 'landru79',
 '@landru79',
 'Apr 29',
 'GIF',
 'GIF',
 'VMC The Mars Webcam',
 '#VMC',
 '#VMC',
 ' Image acquired on 28-04-2020 at 10:39:56 at an altitude of 4366.65 km above ',
 '#Mars',
 '#Mars',
 ', on Mars Express orbit number 20637',
 '',
 '',
 '',
 '',
 '',
 '10',
 '10',
 '28',
 '28',
 'Mars Weather',
 'Mars Weather',
 '@MarsWxReport',
 '·',
 'The helicopter aboard ',
 '@NASAPersevere',
 ' has a new name: Ingenuity, courtesy of Vaneeza Rupani a junior at Tuscaloosa County High School in Northport, Alabama ',
 '@tcss_schools',
 'High School Student Names NASA’s Mars Helicopter',
 'High School Student Names NASA’s Mars Helicopter',
 'The first aircraft that will attempt powered flight on another world has a new name! Meet Ingenuity – NASA’s Mars Helicopter. And the inspiration for the nam...',
 'The first aircraft that will attempt powered flight on another world has a new name! Meet Ingenuity – NASA’s Mars Helicopter. And the inspiration for the nam...',
 '',
 'youtube.com',
 'youtube.com',
 '3',
 '3',
 '12',
 '12',
 'Mars Weather',
 'Mars Weather',
 '@MarsWxReport',
 '·',
 'InSight sol 504 (2020-04-27) low -93.6ºC (-136.5ºF) high -6.7ºC (20.0ºF)\nwinds from the SW at 4.6 m/s (10.3 mph) gusting to 15.0 m/s (33.6 mph)\npressure at 6.80 hPa',
 '6',
 '6',
 '30',
 '30',
 'New to Twitter?',
 'Sign up now to get your own personalized timeline!',
 'Sign up',
 'Sign up',
 'You might like',
 'NASA InSight',
 'NASA InSight',
 '@NASAInSight',
 'Follow',
 'Follow',
 'Emily Lakdawalla',
 'Emily Lakdawalla',
 '@elakdawalla',
 'Follow',
 'Follow',
 'Incredible!ndia',
 'Incredible!ndia',
 '@incredibleindia',
 'Follow',
 'Follow',
 'Show more',
 'Trends for you',
 '',
 'Politics · Trending',
 '#whiteprivilege',
 '#whiteprivilege',
 '15.6K Tweets',
 'Politics · Trending',
 'National Guard',
 '35.7K Tweets',
 'Entertainment · Trending',
 'Tropic Thunder',
 '62.7K Tweets',
 'Politics · Trending',
 'Black Panthers',
 '25.7K Tweets',
 'Entertainment · Trending',
 '#ParksAndRec',
 '#ParksAndRec',
 'Trending with: #ParksAndRecreation, Jean Ralphio, Lil Sebastian',
 'Event',
 'Event',
 'Parks and Recreation cast reunite for quarantine special',
 'Parks and Recreation cast reunite for quarantine special',
 'Show more',
 'Terms',
 'Privacy policy',
 'Cookies',
 'Ads info',
 '© 2020 Twitter, Inc.']

In [16]:
weather_tweets = []
for x in weather:
    if "sol" in x:
        weather_tweets.append(x)
weather_tweets

['InSight sol 506 (2020-04-29) low -93.5ºC (-136.2ºF) high -3.7ºC (25.3ºF)\nwinds from the WNW at 4.5 m/s (10.1 mph) gusting to 15.6 m/s (34.8 mph)\npressure at 6.80 hPa',
 'InSight sol 505 (2020-04-28) low -93.8ºC (-136.8ºF) high -6.6ºC (20.1ºF)\nwinds from the WNW at 4.2 m/s (9.4 mph) gusting to 13.2 m/s (29.6 mph)\npressure at 6.70 hPa',
 'InSight sol 504 (2020-04-27) low -93.6ºC (-136.5ºF) high -6.7ºC (20.0ºF)\nwinds from the SW at 4.6 m/s (10.3 mph) gusting to 15.0 m/s (33.6 mph)\npressure at 6.80 hPa']

In [17]:
mars_weather = weather_tweets[0]
mars_weather

'InSight sol 506 (2020-04-29) low -93.5ºC (-136.2ºF) high -3.7ºC (25.3ºF)\nwinds from the WNW at 4.5 m/s (10.1 mph) gusting to 15.6 m/s (34.8 mph)\npressure at 6.80 hPa'

### Mars Facts

In [18]:
mars_facts_url = "https://space-facts.com/mars/"

In [19]:
tables = pd.read_html(mars_facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [20]:
df = tables[0]
df.columns = ['0', 'value']
df.set_index('0', inplace = True)
df

                                              value
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [21]:
html_table = df.to_html("table.html")

### Mars Hemispheres

In [22]:
hemispheres_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemispheres_url)

In [23]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')
# Retrieve all elements that contain hemisphere images/links
pictures = soup.find_all('div', class_='item')

page_links = []
titles = []
for picture in pictures:
    title = picture.find('h3').text
    titles.append(title)
    
    pic_link = picture.find('a')['href']
    page_links.append(f'https://astrogeology.usgs.gov{pic_link}')

In [24]:
img_urls = []

for link in page_links:
    browser.visit(link)
    image = soup.find_all('ul')[0]
    urls = image.find_all('a')
    pic_url = urls[0]['href']
    img_urls.append(pic_url)

In [25]:
hemisphere_image_urls = []
for x in range(4):
    image_dict = {}
    image_dict["title"] = titles[x]
    image_dict["img_url"] = img_urls[x]

IndexError: list index out of range