In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser

In [2]:
 # https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

### NASA Mars News

In [4]:
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

In [5]:
# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = bs(html, 'lxml')

In [6]:
titles = soup.find_all('div', class_="content_title")
news_title = titles[1].text
news_title.replace("\n", "")

"Q&A with the Student Who Named Ingenuity, NASA's Mars Helicopter"

In [7]:
paragraphs = soup.find_all('div', class_="article_teaser_body")
news_article = paragraphs[0].text
news_article

'As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.'

### JPL Mars Space Images - Featured Image

In [8]:
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)

In [9]:
# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

In [10]:
featured_image = soup.find('article', class_="carousel_item")
featured_image_link = featured_image.find('a', class_="button")['data-fancybox-href']
featured_image_url = f'http://www.jpl.nasa.gov{featured_image_link}'
featured_image_url

'http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18899_ip.jpg'

### Mars Weather

In [11]:
mars_weather_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(mars_weather_url)

In [12]:
# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = bs(html, 'lxml')

In [13]:
tweets = soup.main.find('div').find('article').find_all('span')
weather_update = tweets[7]
mars_weather = weather_update.text
mars_weather

AttributeError: 'NoneType' object has no attribute 'find_all'

### Mars Facts

In [14]:
mars_facts_url = "https://space-facts.com/mars/"

In [15]:
tables = pd.read_html(mars_facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [16]:
df = tables[0]
df.columns = ['0', 'value']
df.set_index('0', inplace = True)
df

                                              value
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [17]:
html_table = df.to_html("table.html")

### Mars Hemispheres

In [37]:
hemispheres_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemispheres_url)

In [38]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')
# Retrieve all elements that contain hemisphere images/links
pictures = soup.find_all('div', class_='item')

page_links = []
titles = []
for picture in pictures:
    title = picture.find('h3').text
    titles.append(title)
    
    pic_link = picture.find('a')['href']
    page_links.append(f'https://astrogeology.usgs.gov{pic_link}')

In [39]:
img_urls = []

for link in page_links:
    browser.visit(link)
    image = soup.find_all('ul')[0]
    urls = image.find_all('a')
    pic_url = urls[0]['href']
    img_urls.append(pic_url)

IndexError: list index out of range

In [40]:
browser.visit('https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced')
image = soup.find_all('ul')[0]
image

IndexError: list index out of range